# fastapi
fastapi
starlette
uvicorn[standard]

# jinja2
Jinja2

# form multipart
python-multipart

# image
Pillow

# date
pendulum

# excel 
pandas
xlrd

# email
email-validator
dnspython
gunicorn

# password
bcrypt

#mongodb
pymongo

# JWT Token
# python-jose[cryptography]
# passlib[bcrypt]