# fastapi
fastapi
starlette
uvicorn[standard]

# jinja2
Jinja2

# form multipart
python-multipart

# image
Pillow

# date
pendulum

# excel 
pandas
xlrd

# email
email-validator
dnspython

# mongodb
pymongo

# password
passlib[bcrypt]

# JWT Token
python-jose[cryptography]

# gunicorn
gunicorn