{% extends 'base.html' %}
{% block title %}404 Error{% endblock %}

{% block header %}
{% endblock %}

{% block content %}
<section id="add" class="w-full">
    <div class="w-full flex justify-center">
        <div>
            <h1 class="pt-12 text-4xl font-bold text-center">404</h1>
            <span class="text-center">
                Please upload salary files
                <a href="{{ url_for('user.mainpage') }}" class="text-orange-700 underline">mainpage</a>
            </span>
        </div>
    </div>
</section>
{% endblock %}