{% extends 'base.html' %}
{% block title %}new employee{% endblock %}

{% block content %}
<section id="add" class="py-[2%] px-[5%] sm:px-[30%]">
    <center>
        <p class="text-2xl text-red-500 font-bold">{{ msg }}</p>
    </center>

    <form action="{{ url_for('add_emp') }}" method="POST" enctype="multipart/form-data" novalidate>
        {{ form.csrf_token }}
        <!-- camera -->
        <div id="container" class="grid grid-cols-1 place-items-center" hidden>
            <video id="video" width="200" autoplay></video>
            <button id="capture" class="mt-4 px-4 py-2 bg-gray-300 hover:bg-gray-700 hover:text-white transition">capture</button>
            <canvas id="canvas" width="200" height="200" class="mt-4 mb-20 outline outline-2 outline-orange-500"></canvas>
        </div>

        <!-- <div class="pb-6">
            {{ form.img_emp.label(class="text-sm") }}
            <span class="text-xs text-red-500">(required)</span><br>
            {{ form.img_emp(class="block w-full text-sm text-slate-500
            file:mr-4 file:py-2 file:px-4
            file:rounded-lg file:border-0
            file:text-sm file:font-semibold
            file:bg-blue-300 file:text-slate-700
            hover:file:bg-blue-700 hover:file:text-white") }}
            {% for err in form.img_emp.errors %}
            <p class="form-error">{{ err }}</p>
            {% endfor %}
        </div> -->

        <div class="pb-2">
            {{ form.name.label(class="text-sm") }}
            <span class="text-xs text-red-500">(required)</span><br>
            {{ form.name(class="form-input") }}<br>
            {% for err in form.name.errors %}
            <p class="form-error">{{ err }}</p>
            {% endfor %}
        </div>

        <div class="pb-2">
            {{ form.ic.label(class="text-sm") }}
            <span class="text-xs text-red-500">(required)</span><br>
            {{ form.ic(class="form-input") }}<br>
            {% for err in form.ic.errors %}
            <p class="form-error">{{ err }}</p>
            {% endfor %}
        </div>

        <div class="pb-2">
            {{ form.pay_hour.label(class="text-sm") }}
            <span class="text-xs text-red-500">(required)</span><br>
            {{ form.pay_hour(class="form-input") }}<br>
            {% for err in form.pay_hour.errors %}
            <p class="form-error">{{ err }}</p>
            {% endfor %}
        </div>

        <!-- HR -->
        <div class="mt-4 mb-8">
            <span class="text-xs italic">Optional</span>
            <hr class="w-auto border-[1px] border-slate-600 mb-2">
        </div>

        <!-- Optional -->
        <div class="pb-2">
            {{ form.dob.label(class="text-sm") }} {{ form.dob(class="form-input") }}<br>
        </div>
        <div class="pb-2">
            {{ form.nationality.label(class="text-sm") }} {{ form.nationality(class="form-input") }}<br>
        </div>
        <div class="pb-2">
            {{ form.gender.label(class="text-sm") }} {{ form.gender(class="form-input") }}<br>
        </div>
        <div class="pb-2">
            {{ form.contact.label(class="text-sm") }} {{ form.contact(class="form-input") }}<br>
        </div>
        <div class="pb-2">
            {{ form.address.label(class="text-sm") }} {{ form.address(class="form-input") }}<br>
        </div>

        <!-- Submit -->
        <div class="pb-2">
            {{ form.submit(class="mt-4 px-6 py-2 rounded-xl border border-1 border-slate-900 hover:bg-sky-700 hover:text-slate-100") }}
        </div>

        <br><br>
    </form>

    <script src="{{ url_for('static', filename='js/camera.js') }}"></script>
</section>
{% endblock %}