<!DOCTYPE html>
<html lang="en" class="text-gray-900 font-sans">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width={device-width}, initial-scale=1.0">
    <title>TBROS - {% block title %}{% endblock %}</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <link href="{{ url_for('static', filename='css/style.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='images/tb.ico') }}" rel="shortcut icon">
</head>

<body class="bg-slate-200">

    <header id="header" class="w-full h-20 font-bold text-center print:hidden">
        <div>
            <a href="{{ url_for('index') }}">
                <h1 class="p-6 text-xl sm:text-2xl hover:text-white">TBROS Ventures Sdn. Bhd.</h1>
            </a>
        </div>
    </header>

    <main id="content" class="mb-auto">
        {% block content %}{% endblock %}
    </main>

    <footer id="footer" class="w-full pt-2 h-10 text-[0.8rem] font-bold text-center bg-slate-200 border-t-[1px] border-slate-800 fixed bottom-0 print:hidden">
        <div>
            <span>© tbros ventures sdn bhd</span>
        </div>
    </footer>

</body>

</html>