{% extends 'base.html' %}
{% block title %}Camera{% endblock %}
{% block content %}

<h1 class="text-center">Display Webcam Stream</h1>
<!-- <h4 id="camera_select" class="text-center">Camera</h4> -->
<div class="grid grid-cols-1 place-items-center">
    <ul id="cameraList" class="text-red-400">
    </ul>
</div>

<div id="container" class="grid grid-cols-1 place-items-center">
    <video id="video" width="200" autoplay></video>
    <button id="capture" class="mt-4 px-4 py-2 bg-gray-300 hover:bg-gray-700 hover:text-white transition">capture</button>
    <canvas id="canvas" width="200" height="200" class="mt-4 mb-20 outline outline-2 outline-orange-500"></canvas>
    <input type="file" accept="image/*" capture="camera">
</div>


<script>
    let video = document.querySelector("#video")
    let capture = document.getElementById("capture")
    let canvas = document.querySelector("#canvas")
    let context = canvas.getContext("2d")

    if (navigator.mediaDevices && navigator.mediaDevices.getUserMedia) {
        // console.log("Camera is Work")
        const cam = navigator.mediaDevices.enumerateDevices().then(devides => {
            console.log(devides)

            let count = 1
            for (i = 0; i != devides.length; i++) {
                if (devides[i].kind === "videoinput") {
                    var ul = document.getElementById("cameraList");
                    var li = document.createElement("li");
                    li.appendChild(document.createTextNode(devides[i].kind));
                    ul.appendChild(li);
                    count++
                }
            }
        })

        navigator.mediaDevices.getUserMedia({
            video: {
                width: { ideal: 200 },
                height: { ideal: 200 }
            }
        })
            .then((stream) => {
                video.srcObject = stream;
            })
            .catch((error) => {
                console.log(error)
            })
    } else {
        console.log("getUserMedia not supported")
    }

    function add_click() {
        context.drawImage(video, 0, 0, 200, 200)
        let image_data_url = canvas.toDataURL("image/jpeg")
        // console.log(image_data_url)
    }

    capture.addEventListener("click", add_click);

</script>

{% endblock %}