{% extends 'base.html' %}
{% block title %}Error{% endblock %}

{% block header %}
{% endblock %}

{% block content %}
<section id="add" class="w-full">
    <div class="w-full">
        <div class="text-center">
            <h1 class="pt-12 text-4xl font-bold">{{ error_msg }}</h1>
        </div>

        <div class="mt-4 text-center">
            <span>
                Please Login
                <a href="{{ url_for('index') }}" class="text-orange-700 underline">login page</a>
            </span>
        </div>
    </div>
</section>
{% endblock %}