{% extends 'base.html' %}
{% block title %}user{% endblock %}

{% block header %}
<a href="{{ url_for('logout') }}" class="transition hover:underline hover:text-slate-200">Logout</a>
{% endblock %}

{% block content %}
<section class="w-full pt-8">

    <div class="w-full mb-8 text-center">
        <span>Today:</span>
        <div class="w-full grid grid-cols-1">
            <div class="grid place-content-center">
                <hr class="w-[300px] border-[1px] border-amber-600 bg-amber-600">
            </div>
        </div>
        <span class="font-bold m-2">{{ date.date().strftime("%d-%m-%Y") }} ({{ date.today().strftime('%A') }})</span>
    </div>

    <div class="w-full grid grid-cols-1 lg:grid-cols-1">
        <div></div>
        <div class="grid py-2 place-content-center">
            <a href="{{ url_for('all_emp') }}" class="w-60 p-8 text-center border-2 border-slate-900 rounded-lg drop-shadow-xl hover:bg-slate-300">
                Read All Employee
            </a>
        </div>
        <div class="grid py-2 place-content-center">
            <a href="{{ url_for('add_emp') }}" class="w-60 p-8 text-center border-2 border-slate-900 rounded-lg drop-shadow-xl hover:bg-slate-300">
                Add New Employee
            </a>
        </div>
        <div class="grid py-2 place-content-center">
            <a href="{{ url_for('all_list', ids=all_id[-1]) }}" class="w-60 p-8 text-center border-2 border-slate-900 rounded-lg drop-shadow-xl hover:bg-slate-300">
                All List Work Hours
            </a>
        </div>

        <div class="px-2 mt-4 grid grid-cols-1 place-items-center">
            <hr class="w-3/5 border-slate-700">
        </div>

        <div class="pt-4 pb-8 grid grid-cols-1 place-items-center">
            <form action="{{ url_for('user') }}" method="POST" enctype="multipart/form-data" class="w-4/5 sm:w-[400px]">
                <p class="text-sm text-red-500">Upload salary file</p>
                <input type="file" name="file" class="px-4 py-4 rounded-xl border-2 border-slate-500 block w-full text-sm text-slate-500
                file:mr-4 file:py-2 file:px-4 file:rounded-lg file:border-0
                file:text-sm file:font-semibold file:bg-blue-300 file:text-slate-700
                hover:file:bg-blue-700 hover:file:text-white"><br>
                <input type="submit" class="p-2 w-full bg-slate-300 rounded hover:bg-red-400 ease-in-out duration-300">
                <p class="text-ls font-bold text-red-700">{{ err_title }}</p>
                <div class="pb-8 px-8">
                    {% for i in err_emp %}
                    <span>{{ loop.index }}. {{ i }}</span><br>
                    {% endfor %}
                    {{ err_exception_msg }}
                </div>
            </form>
        </div>
    </div>

</section>
<!-- Testing -->
{% endblock %}