<!DOCTYPE html>
<html lang="en" class="text-gray-900">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', path='/css/output.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', path='/css/dropmenu.css') }}">
    <!-- <link rel="stylesheet" type="text/css" href="../static/css/output.css">
    <link rel="stylesheet" type="text/css" href="../static/css/dropmenu.css"> -->
    <link rel="shortcut icon" type="image/x-icon" href="../static/images/tb.ico">
</head>

<body class="w-full bg-slate-300 flex justify-center relative">
    <div class="w-[1024px]">

        <header id="header" class="h-20 bg-slate-400 rounded-b-2xl border-b-[1px] border-slate-800 print:hidden">
            <div class="h-full flex flex-row justify-between place-self-center">
                <div class="rounded-b-[1rem] place-self-center">
                    <div class="w-full px-4 font-bold">
                        <h1 class="px-6 text-xl sm:text-1xl">{{ title }}</h1>
                    </div>
                </div>
                <div class="mr-4 px-4 flex gap-4 place-self-center">
                    <div class="font-bold text-orange-700">
                        {% block header %}{% endblock %}
                    </div>
                </div>
            </div>
        </header>

        <main id="content">
            {% block content %}{% endblock %}
        </main>

        <footer id="footer" class="w-full h-10 pt-2 bg-slate-400 rounded-t-2xl border-t-[1px] border-slate-800 fixed bottom-0 print:hidden lg:w-[1024px]">
            <div class="text-center">
                <span class="text-[0.6rem] font-bold xl:text-[0.7rem]">{{ title }} | </span>
                {% if db %}
                <span class="text-[0.6rem] font-bold xl:text-[0.7rem]">Database: 🟢️</span>
                {% else %}
                <span class="text-[0.6rem] font-bold xl:text-[0.7rem]">Database: 🔴</span>
                {% endif %}
            </div>
        </footer>

    </div>

</body>

</html>