{% extends 'base.html' %}
{% block title %}Register{% endblock %}

{% block header %}
<a href="{{ url_for('index') }}" class="transition hover:underline hover:text-slate-200">Login</a>
{% endblock %}

{% block content %}
<section id="add" class="w-full">
    <div class="p-4 text-2xl font-bold text-orange-600 text-center">{{ error }}</div>
    <!-- Register -->
    <div class="flex flex-col items-center">

        <form action="/register" method="POST" enctype="multipart/form-data" class="w-full space-y-4 pt-12 px-2 text-sm sm:w-[500px]">

            <div>
                <label for="email">email: </label>
                <input type="email" name="email" class="w-full block form-input rounded-lg" placeholder="email@mail.com" required>
            </div>

            <div>
                <label for="password">password: </label>
                <input type="password" name="password" class="w-full block form-input rounded-lg" placeholder="******" required>
            </div>

            <div>
                <label for="company_name">company name: </label>
                <input type="text" name="company_name" class="w-full block form-input rounded-lg" placeholder="Company Name" required>
            </div>

            <div>
                <button class="w-full border-2 border-slate-900 hover:bg-slate-800 hover:text-slate-100" onclick="show()">click on this button to show submit button!</button>
            </div>

            <input type="submit" id="show_btn" value="submit" class="px-8 py-2 rounded-lg border border-1 border-slate-900 hover:bg-sky-700 hover:text-slate-100" hidden>

        </form>

    </div>

    <div>
        {{ show_data }}
    </div>
    <script>
        function show() {
            const show_btn = document.getElementById('show_btn').style.display = 'block'
        }
    </script>

</section>
{% endblock %}

<!-- Footer -->
{% block footer %}
<span>© {{ title }}</span>
{% endblock %}